<div class="main user-top">
  <div class="container">
    <div class="user">
      <h2><%= "e-Navigator（石田隼人）" %></h2>
      <h2><%= link_to("新規登録", "/signup") %></h2>
      <h2><%= link_to("ログイン", "/login") %></h2>
    </div>
  </div>
</div>
